body {
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	background-color: #f2f4f2;
	color: #595b5b;
}
a,img {
	-webkit-touch-callout:none;
}
html,body {
	width: 100%;
}
ul,li,div,p,body {
	margin: 0;
	padding: 0;
}
.container {
	
}
.container>div {
	font-size: 0;
	padding: 16px 4.5%;
}
.container>div:nth-child(2n) {
	background-color: #fff;
}
.container>div>p {
	display: inline-block;
	font-size: 14px;
	text-align: left;
	vertical-align: top;
}
.container>div>p:first-child {
	width: 30%;
}
.container>div>p:last-child {
	width: 65%;
	margin-left: 5%;
}
.state {
	background-color: #fff;
	height: 110px;
	padding-top: 70px;
}
.state>div {
	line-height: 2.2;
	width: 80%;
	background-color: #1c5896;
	font-size: 16px;
	color: #fff;
	text-align: center;
	margin-left:10%;
}
.state .deny {
	background-color: #b20005;
}