.md-contact>div {
	text-align: center;
}
.md-contact p {
	line-height: 2;
	font-size: 14px;
	margin: 0 auto;
}
.md-contact .name {
	margin-top: 110px;
}
.md-contact .email {
	margin-top: 53px;
}
.md-contact .wechat {
	margin-top: 53px;
	margin-bottom: 100px;
}