@charset "UTF-8";
body{font-family: "Microsoft YaHei",'微软雅黑';}
ul,ol{list-style: none;padding: 0;}
.clearfix:before, .container:after { content: ""; display: table; }
.clearfix:after { clear: both; }
/* IE 6/7 */
.clearfix { zoom: 1; }

.logo{display: block;padding: 10px 0;}
.first{position: relative;background-size: 100% 100%;color: #fff;}
/*.first .fp-tableCell{vertical-align: top;}*/
.first img{position: absolute;}
.tea{     width: 12%; height: 15%; right: 4%; top: 38%;}
/*.tea:hover{ top: 30%; transition   : all 1.2s; }*/
.pen{left: 0%; height: 39%; width: 16%; top: 36%;}
.line{left: 0; height: 37%; bottom: -10%; width: 6%;}
.note-01{    left: 4%; height: 30%; width: 16%; bottom: -10%;}
.note-02{    bottom: -5%; width: 12%; height: 24%; left: 72%;}
.imac{ left: 10%; width: 40%; height: 53%; bottom: -9%;}
.pad{     width: 15%; height: 32%; bottom: -4%; left: 51%;}
.iphone{    bottom: 12%; width: 6%; height: 16%; left: 67%;}
.flashdisk{ bottom: -1%; width: 6%; height: 8%; left: 66%; }
.headphone{ bottom: -6%; width: 26%; height: 51%; left: 74%; }
.button{display: block;}
h1{font-size: 2.5em; letter-spacing: 5px;}
h1#pc_title,h1.chuangyich, h1.mobile{ color: #fff;}
p{    font-size: 1.2em;}
.divmt-first{padding-bottom: 25%;}
.btn{margin-top: 20px;padding: 6px 45px;font-size: 18px;color: #566199;border: 0;}
.btn:hover{color: #269abc;}
/*第二屏*/
.second{position: relative;}
.second .container{height: 30%;}
.btn-second{display: block;margin: 10px auto;background: #4d4d4d; font-size: 25px; border-radius: 3px;color: #fed847; width: 100px;}
.div-second{
    margin-top: 15px;}
/*第三屏*/
.img-third{ width: 80%;margin-top: 2%;}
.container .pc_list_main{ display: table; width: 60%; margin: 51px auto 50px; }
.container .pc_list_main li{ float: left; display: table-cell; width: 50%; text-align: center; color: #fff; font-size: 22px; font-weight: normal;}
.container .pc_list_main li em{ display: inline-block; width: 12px; height: 12px; background: url(../images/list_point.png) no-repeat left center; vertical-align: middle; margin-right: 14px;}
.section3 .fp-tableCell{ vertical-align: top;}
.wecan{ width: 30%; margin: 10px auto 0;}
.wecan ul{ float: left; width: 33.33%; text-align: center; display: none;}
.wecan ul li{ font-size: 18px; color: #fff; text-align: center; line-height: 28px;}
/*第四屏*/
.fourth{background: url("../images/bg_03.jpg") no-repeat;background-size: 100% 100%;}
.divmt{margin-top: 7%; margin-bottom: 1%;}
.img-fourth{width: 50%;margin: 10% 0;
    -webkit-animation: animated-iphone 5s;
    -o-animation: animated-iphone 5s;
    animation: animated-iphone 5s;}
.fourth .content p.list{ font-size: 1.5em; margin-bottom: 24px; padding-left: 20px; background: url(../images/list_point.png) no-repeat left center; color: #fff;}
.section4 .fp-tableCell{ vertical-align: top;}
.section4 .divmt{ margin-top: 3%;}
.yidong_wecan{ width: 100%; margin: 15px auto 0;}
.yidong_wecan ul{ float: left; width: 33.33%; display: none;}
.yidong_wecan ul li{ font-size: 18px; color: #fff; line-height: 28px;}
@keyframes animated-iphone {
    from{opacity: 0;}
    to{opacity: 1;}
}
@-webkit-keyframes animated-iphone {

}
/*第五屏*/
.fifth{position: relative;background: url("../images/bg_04.jpg") no-repeat;background-size: 100% 100%;overflow: hidden;}
/*.fifth .fp-tableCell{vertical-align: middle;}*/
.fifth img{margin: 0 auto;width: 85%;}
.fifth .container-fluid{    position: absolute;width: 100%;bottom: 4%;}
.test{padding-bottom: 25%;}
.container .chuangyi_list_main{ display: table; width: 77%; margin: 80px auto 0; padding: 22px 0 11px;}
.container .chuangyi_list_main li{ float: left; display: table-cell; width: 33.333%; text-align: center; color: #fff; font-size: 22px; font-weight: normal;}
.container .chuangyi_list_main li em{ display: inline-block; width: 12px; height: 12px; background: url(../images/list_point.png) no-repeat left center; vertical-align: middle; margin-right: 14px;}
/*底部的图片配合js控制 在index的145行*/
.dv-book{position: relative;}
.dv-book .handl { position: absolute; left: 0%; top: 50%;width: 22%;}
.dv-book .handr{position: absolute;top: 50%;right:8%;width: 18%;}
.cych_wecan{ width: 62%; margin: 40px auto 0; padding-left: 6%;}
.cych_wecan ul{ float: left; padding: 3%; display: none;}
.cych_wecan ul li{ font-size: 18px; color: #fff; line-height: 32px; text-align: left;}
/*第六屏 */
.friends{margin:4% 3%;}
.title{position: relative;margin-bottom: 10%;}
.title:before{    background-color: #606060;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 10%;
    top: 55%;
    left: 27%;}
.title:after{
    background-color: #606060;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 10%;
    top: 55%;
    right: 27%;
}