body {
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	background-color: #e9e9db;
	color: #b49c64;
}
a,img {
	-webkit-touch-callout:none;
}
html,body,.container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
ul,li,div,p,body {
	margin: 0;
	padding: 0;
}

.container>section {
	width: 100%;
}

/*title*/

.md-title>img {
	width: 100%;
}

/*avatar*/
.md-avatar img{
	display: block;
	width: 15.6%;
	border-radius: 100%;
	margin: 0 auto;
}

/*ranking*/
.md-ranking {
	position: relative;
}
.md-ranking img {
	position: relative;
	width: 100%;
}
.md-ranking ul {
	position: absolute;
	top:0;
	left: 18%;
	list-style: none;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.md-ranking span {
	display: inline-block;
	/*text-align: center;*/
}
.md-ranking .order {
	width: 16%;
}
.md-ranking .account {
	width: 27%;
	text-align: center;
}
.md-ranking .sum {
	width: 24%;
	text-align: center;
}

/*record*/
.md-record .record-btn {
	display: block;
	width: 65%;
	margin: 0 auto;
	background: transparent url(../images/record-btn.png) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
/*.md-record .record-btn img {
	width: 100%;
}*/

/*cancel*/
.cancel {
	position: absolute;
	width: 47%;
	top: 40%;
	left: 26.5%;
	display: none;
}
.cancel img {
	width: 100%;
}