body {
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	background-color: #e9e9db;
	color: #b49c64;
}
a,img {
	-webkit-touch-callout:none;
}
html,body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
ul,li,div,p,body {
	margin: 0;
	padding: 0;
}

.container {
	margin-top: 8%;
}
.container>section {
	width: 100%;
}


/*avatar*/
.md-avatar img{
	display: block;
	width: 15.6%;
	border-radius: 100%;
	margin: 0 auto;
}

/*ranking*/
.md-ranking {
	position: relative;
}
.md-ranking img {
	display: block;
	position: relative;
	width: 100%;
	top: -7%;
	left: 0;
}
.md-ranking ul {
	position: absolute;
	top:19%;
	left: 14%;
	list-style: none;
	width: 100%;
}
@media screen and (max-width: 414px) {
	.md-ranking li {
		margin-bottom: 3.8%;
	}
}
@media screen and (max-width: 375px) {
	.md-ranking li {
		margin-bottom: 3%;
	}
}
@media screen and (max-width: 320px) {
	.md-ranking li {
		margin-bottom: 2%;
	}
}
.turn-page {
	position: absolute;
	bottom: 11.5%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.turn-page a {
	display: inline-block;
	width: 60px;
}
.turn-page img {
	display: block;
	width: 100%;
}


.md-ranking span {
	display: inline-block;
}
.md-ranking .account {
	width: 27%;
	text-align: center;
}
.md-ranking .sum {
	width: 56%;
	text-align: center;
}

.md-get-money {
	left: 0;
	bottom: 0;
}
.md-get-money a {
	display: block;
	margin: 0 auto;
}
.md-get-money img {
	width: 100%;
}
.md-get-money .get-money-btn {
	width: 41.25%;
}
.md-get-money .rules {
	width: 17%;
	margin-top: 2%;
}
.md-get-money .show-rules {
	position: fixed;
	width: 60%;
	top: 20%;
	left: 20%;
	display: none;
	z-index: 2;
}