body {
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	background-color: #e9e9db;
	color: #b49c64;
}
a,img {
	-webkit-touch-callout:none;
}
html,body,.container {
	width: 100%;
	/*height: 100%;*/
	overflow: hidden;
}
ul,li,div,p,body {
	margin: 0;
	padding: 0;
}

.container>section {
	width: 100%;
}
.md-player {
	position: relative;
}
.md-player img {
	width: 100%;
}
.md-player a {
	position: absolute;
	top: 13.5%;
	left: 14%;
	width: 8%;
}
.md-player p {
	position: absolute;
	right: 18%;
	top: 24%;
}
.md-word  {
	position: relative;
}
.md-word img {
	width: 100%;
}
.md-ad img {
	width: 100%;
}
.md-share-btn a {
	display: block;
	width: 53.4%;
	margin: 0 auto;
}
.md-share-btn img {
	width: 100%;
}
.to-share {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: none;
}
.to-share img {
	width: 100%;

}
#input-txt {
	position: absolute;
	top: 16%;
	left: 14%;
	width: 43%;
	height: 70%;
	background-color: #f2f2f0;
	color: #b49c64;
	border: 0;
	outline: 0;
	resize: none;
}