html,
body,
div,
p,
ul,
li {
	margin: 0;
	padding: 0;
}
body {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout:none;
  margin: 0 auto;
  width: 7.5rem;
  line-height: 1;
}
a {
	outline: none;
	text-decoration: none;
}
input[type="text"],
textarea,
button {
	-webkit-appearance: none;
}
ul {
	list-style: none;
}

.loader {
  display: none;
}
.ball-pulse {
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.7; }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.7; }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

.ball-pulse > div:nth-child(1) {
  -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div:nth-child(2) {
  -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div:nth-child(3) {
  -webkit-animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div {
  background-color: #ddd;
  width: .2rem;
  height: .2rem;
  border-radius: 100%;
  margin: .06rem;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block; }