body {
  width: 7.5rem;
}
.vertical-line {
  position: absolute;
  height: 9.3rem;
  background-color: #cb0404;
  width: .04rem;
  top: .6rem;
  left: .57rem;
  z-index: 0;
}
.content {
  padding-top: .5rem;
  position: relative;
  z-index: 1;
}
.content li>* {
  padding-left: 1.09rem;
  padding-right: .6rem;
  position: relative;
}
.content h3 {
  color: #e3a402;
  font-weight: normal;
  font-size: .32rem;
  margin-top: 0;
  margin-bottom: .7rem;
  position: relative;
}
.content p {
  font-size: .28rem;
  margin-bottom: .54rem;

}
.content p:last-child {
  margin-bottom: .76rem;
}
.content i {
  position: absolute;
  border-radius: 100%;
}
.content h3>i {
  width: .58rem;
  height: .58rem;
  background-color: #cb0404;
  top: -.14rem;
  left: .3rem;
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {transform: rotateY(0deg)}
  100% {transform: rotateY(360deg)}
}
.content p>i {
  width: .13rem;
  height: .13rem;
  background-color: #fff;
  border: .04rem solid #cb0404;
  top: .03rem;
  left: .49rem;
}