body,
.container,
.main {
  width: 7.5rem;
}
html,
body,
.container,
.main {
  height: 100%;
}
body {
  /*font-family: 'pingfang';*/
  margin: 0 auto;
  overflow-x: hidden;
}
.container {
  display: flex;

}

.nav {
  width: 0;
  flex-shrink: 0;
  height: 100%;
  background: url(../images/nav-bg.png) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.nav ul {
  margin-top: .2rem;
}
.nav .homepage {
  background: url(../images/icon01.png) .5rem .34rem no-repeat;
  -webkit-background-size: .44rem .4rem;
  background-size: .44rem .4rem;
}
.nav .abstract {
  background: url(../images/icon02.png) .5rem .34rem no-repeat;
  -webkit-background-size: .44rem .4rem;
  background-size: .44rem .4rem;
}
.nav .ideal {
  background: url(../images/icon03.png) .5rem .32rem no-repeat;
  -webkit-background-size: .44rem .44rem;
  background-size: .44rem .44rem;
}
.nav .history {
  background: url(../images/icon04.png) .5rem .34rem no-repeat;
  -webkit-background-size: .44rem .4rem;
  background-size: .44rem .4rem;
}
.nav .project {
  background: url(../images/icon05.png) .5rem .34rem no-repeat;
  -webkit-background-size: .44rem .4rem;
  background-size: .44rem .4rem;
}
.nav .about {
  background: url(../images/icon06.png) .5rem .32rem no-repeat;
  -webkit-background-size: .32rem .44rem;
  background-size: .32rem .44rem;
}

.nav a {
  display: block;
  height: 1.1rem;
  line-height: 1.1rem;
  color: #fff;
  font-size: .3rem;
  padding-left: 1.16rem;
}
.main {
  width: 7.5rem;
  position: relative;
  flex-basis: 7.5rem;
  flex-shrink: 0;
}

.md-header {
  position: absolute;
  height: .87rem;
  background-color: #cc0503;
  text-align: center;
  top: 0;
  left: 0;
  width: 7.5rem;
  height: .87rem;
}
.md-header a.nav-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.08rem;
  height: .87rem;
  background: url(../images/button.png) center center no-repeat;
  -webkit-background-size: .48rem .27rem;
  background-size: .48rem .27rem;
}
.md-header h2 {
  margin: 0 auto;
  font-size: .34rem;
  line-height: .87rem;
  font-weight: normal;
  color: #fff;
}
.main iframe {
  width: 7.5rem;
  padding-top: .87rem;
  height: 100%;
  display: block;
  box-sizing: border-box;
}







